.cart_icon{
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}
.cart_badge{
    width: auto;
    display: flex;
    text-align: center;
    align-items: center;
    height: 2rem;
    border-radius: 1rem;
    background-color: brown;
    padding: .4rem;
    margin-left: 1rem;
}
.button {
  background-color: rgba(105, 35, 35, 0.719);
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button {
    padding: 16px 48px;
  }
}